<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229204862808-mdgjprvt0ggjngss1bvmfdho1t90gin0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229204862808-mdgjprvt0ggjngss1bvmfdho1t90gin0</string>
	<key>API_KEY</key>
	<string>AIzaSyCiLPM1DRK64FMt7QpZHS5dAJNNm1J-iwo</string>
	<key>GCM_SENDER_ID</key>
	<string>229204862808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.babyNames</string>
	<key>PROJECT_ID</key>
	<string>baby-names-ec445</string>
	<key>STORAGE_BUCKET</key>
	<string>baby-names-ec445.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229204862808:ios:c5ccddac2e7c1dab</string>
	<key>DATABASE_URL</key>
	<string>https://baby-names-ec445.firebaseio.com</string>
</dict>
</plist>